.latestNews {
  background-image:
    linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0.8) 50.06%, #FAFAFA 100%),
    url('../../images/latest-news/latest-news-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 0 120px;

  &Text {
    width: 980px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: var(--text-secondary, rgba(14, 13, 15, 0.7));
    margin: 0 auto 48px;
  }

  &List {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
  }
}