.latestNews {
  background-image:
    linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0.8) 50.06%, #FAFAFA 100%),
    url('../../images/latest-news/latest-news-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
<<<<<<< HEAD
  margin: 0 0 120px;
=======
>>>>>>> b05577a4a39740b29cb7578e99ada64e36f2432e

  &Title {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 140%;
    text-align: center;
    background: var(--main-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0 0 24px;
  }

  &Text {
    width: 980px;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    text-align: center;
    color: var(--text-secondary, rgba(14, 13, 15, 0.7));
    margin: 0 auto 48px;
  }

  &List {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 48px;
    flex-wrap: wrap;
  }
}