:root {
  --background-default: #FAFAFA;
  --text-primary: #0E0D0F;
  --action-main: rgba(14, 13, 15, 0.64);
  --divider-main: rgba(14, 13, 15, 0.08);
  --purple-main: #6F76C0;
  --white-contrast: #0A090A;
  --text-primary-white: #FFFFFF;
  --main-gradient: linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%);
  --text-secondary: rgba(14, 13, 15, 0.7);
<<<<<<< HEAD
  --divider-input: rgba(14, 13, 15, 0.24);
=======
>>>>>>> b05577a4a39740b29cb7578e99ada64e36f2432e
}

body {
  background-color: var(--background-default, #FAFAFA);
}

.container {
  max-width: 1604px;
  margin: 0 auto;
  padding: 0 32px;
}