.hero {
  padding-top: 293px;
  background-image:
    linear-gradient(270deg, rgba(14, 13, 15, 0) 0%, #ECECEC 79.5%),
    url('../../images/hero/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  &Inner {
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 243px;
  }

  &Title {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: var(--white-contrast, #0A090A);
    margin: 0;

    span {
      background: var(--main-gradient, linear-gradient(90deg, #3DAFE2 0%, #6F76C0 100%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  &Text {
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--white-contrast, #0A090A);
    margin: 0;
  }

  &Btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    width: 268px;
    transition: width .3s;

    &Svg {
      width: 0;
      transition: width .3s;
    }

    &:hover {
      width: 302px;

      .heroBtnSvg {
        width: 24px;
        height: 24px;
      }
    }
  }

  &CompanysList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 0;
  }

  &CompanysItem {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}